<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
       <h1 class="logo me-auto"><a href="#">GB</a></h1>
       <nav id="navbar" class="navbar">
          <ul>
             <li><a class="nav-link scrollto active" routerLink="/header">Home</a></li>
             <li><a class="nav-link scrollto" routerLink="/about">Sobre</a></li>
             <li><a class="nav-link scrollto" routerLink="/services">Serviços</a></li>
             <li><a class="nav-link scrollto" routerLink="/portfolio">Portfólio</a></li>
             <li><a class="nav-link scrollto" routerLink="/team">Time</a></li>
             <li><a class="nav-link scrollto" routerLink="/contact">Contato</a></li>
             <li><a class="getstarted scrollto" routerLink="/header">Get Started</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
       </nav>
    </div>
  </header>
  <!-- <router-outlet></router-outlet> -->
